#=============LOGIN============
pyaudio
google-cloud-speech
google-api-core
grpcio
streamlit
python-dotenv
pyaudiowpatch
uvicorn 
fastapi
websockets
#===============LANGGRAPH================
openai>=1.0.0
langgraph>=0.2.0
langchain-text-splitters>=0.2.0
numpy>=1.24
pypdf>=4.0.0
python-docx>=1.1.0



#python-dotenv>=1.0.0
